.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: rgb(89, 53, 53);
  z-index: 1; 
  /* z-index: 1 becasue we always want to be on the top */
  text-align: center;
  background: rgba(189, 85, 85);
  padding: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
